* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url(/images/background_pic.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    padding-left: 55px;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 10px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
}

nav ul li a {
    color: rgb(154, 99, 5);
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

nav ul li a:hover {
    color: rgb(224, 7, 7);
}

.info {
    color: black;
    border: 3px solid transparent;
    padding: 5px 10px;
    border-radius: 25px;
}

.details {
    margin-top: 15%;
    margin-left: 10%;
}

.details h1 {
    color: black;
    font-size: 55px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    color: orange;
}

.details p {
    color: rgb(42, 39, 3);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.details a {
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(65, 61, 61);
    color: blanchedalmond;
    border-radius: 10px;
}

.about {
    background-color: black;
    padding: 90px 0;
    color: red;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutme {
    text-decoration-line: underline;
}

#para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: aliceblue;
    display: block;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding-top: 30px;
    line-height: 30px;
}

.skills ul li {
    font-size: large;
    line-height: 30px;
    margin-left: 22%;
    text-align: left;
}

.skills ul li span {
    color: red;
    font-weight: bolder;
}

.skills ul li p {
    color: aliceblue;
    line-height: 30px;
    padding-bottom: 30px;
}

.education {
    background-color: rgb(156, 153, 153);
    padding: 80px 0;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-top: 150px;
}

.edu {
    text-decoration-line: underline;
}

.colleges {
    padding: 80px;
    margin-left: 15%;
    margin-right: 15%;
}

.colleges ul li p {
    color: black;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: justify;
    padding-bottom: 50px;
}

.colleges ul li p span {
    color: rgb(117, 41, 41);
    font-weight: bolder;
}

.colleges ul {
    padding-bottom: 100px;
}

.experience {
    background-color: black;
    color: red;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-top: 20px;
}

.companies {
    padding: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.companies ul li p {
    color: aliceblue;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: justify;
    padding-bottom: 30px;
}

.companies ul li p span {
    color: red;
    font-weight: bolder;
}

.det {
    margin-left: 2%;
    padding-bottom: 100px;
}

.det ul li {
    font-size: medium;
    color: aliceblue;
    line-height: 18px;
    padding-bottom: 30px;
    text-align: justify;
    padding-bottom: 30px;
}

.det ul li p span {
    color: orange;
    font-weight: bolder;
}

.contact {
    background-color: rgb(156, 153, 153);
    color: black;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-top: 50px;
    padding-bottom: 130px;
}

.contactleft h1 {
    text-decoration-line: underline;
    padding-bottom: 50px;
    text-align: center;
}

.contactleft p span {
    color: rgb(117, 41, 41);
    font-weight: bolder;
    font-size: larger;
    margin-left: 20%;
}

.contactleft p {
    line-height: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.input {
    padding: 10px 140px;
    margin: 10px;
    border: none;
    border-radius: 15px;
}

#message {
    width: 20%;
    padding: 10px;
}

#submit {
    padding: 10px;
    width: 10%;
}

#submit:hover {
    box-shadow: 5px 5px 5px red;
}